*{
	margin: 0px;
	padding: 0px;
}
.Main
{
	margin-left: 5%;
	margin-right: 10%;
	padding-right: 10px;
	padding-left: 10px;
}



.head1
{
	width: 100%;
	margin-top: 2%;
	margin-left: 3%;
	margin-right: 15%;
		display: flex;
	flex-wrap: wrap;
}

.linkClass
{
  width: 300px;
  height: 300px;

  margin-left: 60%;
  margin-top: -13%;
  border-radius: 20px;
}
.input1
{

	font-family: Poppins-Regular;
  font-size: 25px;
  color: #555555;
  line-height: 1.2;
   width: 100%;
  background: transparent;
  margin: 20px;
  padding: 0 20px 5px;
}
.input2
{
	padding: 20px;
	
}
.inputfields
{
	 outline: none;
  border: none;
  padding: 10px;
}

#update,#delete , #back, #pay
{
  background-color:#62A1EC  ;
  border: none;
  color: white;
  margin-left: 20px;
  border-radius : 3px;
  padding: 13px 42px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

label {

	font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
   width: 100%;
  background: transparent;
  padding: 0 5px;
  margin-right: 20px;
}